.login-page {
  background: url('../img/test1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* filtro oscuro */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 300px;
}

.login-container h2 {
  margin-bottom: 1rem;
  color: #fff;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.login-container button {
  background-color: #ff6600;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #e65c00;
}
.register-link {
  display: inline-block;
  margin-top: 1rem;
  color: #ffcc66;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #ffffff;
}
