# 🐍 Archivos compilados de Python
*.pyc                
__pycache__/          

# 🐍 Entorno virtual
venv/                

# 🗃️ Base de datos local
db.sqlite3            
# 🔐 Variables de entorno
.env         

