{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="login-page">
  <div class="overlay">
    <div class="login-container">
      <h2>Iniciar sesión</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit">Entrar</button>
        <p class="register-legend">
         ¿No tienes cuenta? <a href="{% url 'register' %}" class="register-link">Regístrate</a>
        </p>
      </form>
    </div>
  </div>
</body>
</html>


