{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Registro{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body_class %}register-page{% endblock %}

{% block content %}
  <div class="overlay">
    <div class="register-container">
      <h2>Crear cuenta</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Registrarse</button>
        <p class="login-legend">
          ¿Ya tienes cuenta?
          <a href="{% url 'login' %}">Inicia sesión</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
