.default-bg {
  background: linear-gradient(135deg, #e0f7fa, #fce4ec);
  min-height: 100vh;
}


.home-page {
  background: url('../img/fondo-home.jpg') no-repeat center center fixed;
  background-size: cover;
}
