{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Confirmar compra{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/confirmar_compra.css' %}">
{% endblock %}

{% block content %}
  <div class="compra-wrapper">
    <h2>¿Comprar boleto para "{{ evento.titulo }}"?</h2>
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">Confirmar compra</button>
      <a href="{% url 'eventos_disponibles' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
{% endblock %}

